<!DOCTYPE html>
<html ng-app="flota-ferroviaria">
	<head>
		<title>Flota Ferroviaria</title>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
		<link rel=manifest href="manifest.json">
		<!-- Chrome for Android theme color -->
		<meta name="theme-color" content="#282828" />
		<!-- Tile color for Win8 -->
		<meta name="msapplication-TileColor" content="#282828">
		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="no">
		<meta name="application-name" content="Flota Ferroviaria">
		<link rel="icon" sizes="192x192" href="vendor/fm5strap/img/touch/chrome-touch-icon-192x192.png">
		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Flota Ferroviaria">
		<link rel="apple-touch-icon" href="vendor/fm5strap/img/touch/apple-touch-icon.png">
		<!-- Tile icon for Win8 (144x144) -->
		<meta name="msapplication-TileImage" content="vendor/fm5strap/img/touch/ms-touch-icon-144x144-precomposed.png">

		<meta name="description" content='En este sitio podrás saber la composición de las flotas de las principales líneas ferroviarias del AMBA'>
		<meta name="keywords" content="Fernando Osorio Fermoto5HD flota ferroviaria racks" />
		<meta name="author" content="Fernando Osorio (Fermoto5HD)" />
		<meta name="thumbnail" content="http://Fermoto5HD.16mb.com/portfolio/flota-ferroviaria/dev/img/jumbotron/home/01.jpg" />
		<!-- Meta og -->
		<meta property="og:description" content='En este sitio podrás saber la composición de las flotas de las principales líneas ferroviarias del AMBA.'>
		<meta property="og:site_name" content="Flota Ferroviaria" />
		<meta property="og:title" content="Flota Ferroviaria" />
		<meta property="og:description" content='En este sitio podrás saber la composición de las flotas de las principales líneas ferroviarias del AMBA.' />
		<meta property="og:locale" content="es_AR" />
		<meta property="og:url" content="http://Fermoto5HD.16mb.com/portfolio/flota-ferroviaria" />
		<meta property="og:image" content="http://Fermoto5HD.16mb.com/portfolio/flota-ferroviaria/dev/img/jumbotron/home/01.jpg" />
		<meta property="og:type" content="website" />
		<!-- Meta Twitter -->
		<meta name="twitter:title" content="Flota Ferroviaria" />
		<meta name="twitter:description" content='En este sitio podrás saber la composición de las flotas de las principales líneas ferroviarias del AMBA.' />
		<meta name="twitter:card" content="photo" />
		<meta name="twitter:site" content="@Fermoto5HD" />
		<meta name="twitter:creator" content="@Fermoto5HD" />
		<meta name="twitter:url" content="http://Fermoto5HD.16mb.com/portfolio/flota-ferroviaria" />
		<meta name="twitter:image" content="http://Fermoto5HD.16mb.com/portfolio/flota-ferroviaria/dev/img/jumbotron/home/01.jpg" />
		<meta name="twitter:image:width" content="435" />
		<meta name="twitter:image:height" content="290" />
		<!-- Assets and vendors -->
		<link href="vendor/fm5strap/css/fm5strap.min.css" rel="stylesheet">
		<link href="css/flota-ferroviaria.css" rel="stylesheet">
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gidole-regular" type="text/css"/>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-fixed-top">
				<div class="container">
					<a class="navbar-brand" href="#/" title="Fernando Javier Osorio Lorenzo"></a>
					<button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#responsivemenu" style="font-family: inherit;"><i class="fa fa-bars" aria-hidden="true"></i></button>
					<ul class="nav navbar-nav pull-xs-right collapse navbar-toggleable-sm" id="responsivemenu">
						<li class="nav-item">
							<a class="nav-link" href="#/">Inicio</a>
						</li>
						<li class="nav-item btn-group" ng-controller="listRailways">
							<a class="dropdown-toggle nav-link" type="button" id="menu-responsive-subway" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Subterráneo
							</a>
							<div class="dropdown-menu" aria-labelledby="menu-responsive-subway">
								<span ng-repeat="line in JSONlines | filter:{type:'subway'}">
									<a ng-if="line.available" href="#/linea/{{line.line}}" class="dropdown-item">{{line.hometitle}}</a>
									<a ng-if="line.available === false" nohref class="dropdown-item disabled">{{line.hometitle}}</a>
								</span>
							</div>
						</li>
						<li class="nav-item btn-group" ng-controller="listRailways">
							<a class="dropdown-toggle nav-link" type="button" id="menu-responsive-railway" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Ferrocarriles
							</a>
							<div class="dropdown-menu" aria-labelledby="menu-responsive-railway">
								<span ng-repeat="line in JSONlines | filter:{type:'railway'}">
									<a ng-if="line.available" href="#/linea/{{line.line}}" class="dropdown-item">{{line.hometitle}}</a>
									<a ng-if="line.available === false" nohref class="dropdown-item disabled">{{line.hometitle}}</a>
								</span>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" nohref data-toggle="modal" data-target="#md-schemas">Esquemas</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" nohref data-toggle="modal" data-target="#md-about">Acerca de</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<main class="content-w-fixed-navbar" ng-view autoscroll="true"></main>
		<footer>
			<div class="container">
				<div class="col-md-6">
					<h4>Sobre el sitio</h4>
					<p>Licenciado bajo Creative Commons Atribución Internacional 4.0 (CC-BY-4.0)</p>
					<h4>Recursos utilizados</h4>
					<ul>
						<li>FM5strap</li>
						<li>Angular</li>
					</ul>
				</div>
				<div class="col-md-6">
					<h4>Seguí el progreso del proyecto</h4>
					<p>Visitá el repositorio del proyecto en GitHub:</p>
					<a class="btn btn-primary" href="http://github.com/Fermoto5HD/flota-ferroviaria" target="_blank">Ir al repositorio</a>
				</div>
			</div>
		</footer>

		<div class="modal fade" id="md-about" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h2 class="modal-title">Acerca del proyecto</h2>
					</div>
				<div class="modal-body">
					<p>Ante nada, gracias por visitar este sitio.</p>
					<p>Mi objetivo principal en este sitio era mostrar la conformación de cada formación de cada línea ferroviaria, junto con algunos detalles adicionales.</p>
					<p>Esto nació por un problema que siempre tenía en la cabeza cada vez que terminaba de filmar una formación porque siempre me olvidaba de anotar la letra, por lo tanto empecé a hacer un relevamiento personal de la flota de cada línea, en un principio enviando cada relevamiento como mensaje de Telegram hacia mi propio número, y después volcando esos datos en una planilla de Google Sheets para exportar estos mismos datos en CSV.</p>
					<p>Hoy por hoy es una herramienta adicional para los ferroaficionados como yo, quienes dedicamos parte de nuestro tiempo a generar un buen archivo digital sobre los ferrocarriles.</p>
					<hr>
					<h3>Desarrollo</h3>
					<p>El desarrollo del proyecto se irá dando de acuerdo al tiempo que tenga libre, tanto como para relevar como para mantener el sitio en condiciones. Se irá agregando información sobre cada línea y formación con el pasar del tiempo.</p>
					<p>Por el momento los datos se están cargando en un cierto lapso de tiempo. Seguramente en una próxima actualización del sitio podré agregar un soporte de sincronización con Google Sheets, donde guardo las planillas de las líneas y mantener la información lo más actualizada posible.</p>
					<hr>
					<h3>¿Puedo colaborar?</h3>
					<p>¡Por supuesto! Tenés tres formas de hacerlo:</p>
					<div class="list-group" id="feedback">
						<a nohref class="list-group-item" data-toggle="modal" data-target="#md-feedback">
							<h4 class="list-group-item-heading">Formulario de feedback</h4>
							<p class="list-group-item-text">El método más sencillo para aportar. Podés enviar tus comentarios, sugerencias y aportes con sólo llenar un formulario.</p>
						</a>
						<a href="http://github.com/Fermoto5HD/flota-ferroviaria" class="list-group-item" target="_blank">
							<h4 class="list-group-item-heading">Issue mediante GitHub</h4>
							<p class="list-group-item-text">La opción preferida de los programadores (me incluyo). En caso que tengas que reportar una falla hacelo con el tag correspondiente.</p>
						</a>
						<a href="http://twitter.com/Fermoto5HD" class="list-group-item" target="_blank">
							<h4 class="list-group-item-heading">Tweet o MP por Twitter</h4>
							<p class="list-group-item-text">Si no sos programador te dejo una vía fácil para contactarte conmigo, sea por un tweet de 140 caracteres o, si no te alcanza, por mensaje privado.</p>
						</a>
						<a href="http://plus.google.com/+Fermoto5HD" class="list-group-item" target="_blank">
							<h4 class="list-group-item-heading">Publicación en Google+</h4>
							<p class="list-group-item-text">Y si no tenés Twitter pero usás YouTube para comentar o subir videos te invito a que publiques en mi cuenta de Google+.</p>
						</a>
					</div>
					<hr>
					<h3>Para armar esto se necesitó</h3>
						<ul class="list-group">
							<li class="list-group-item">
								<span class="label label-default label-pill pull-xs-right">v1.5.x</span> Angular
							</li>
							<li class="list-group-item">
								<span class="label label-default label-pill pull-xs-right">v1.5.x</span> Angular Route
							</li>
							<li class="list-group-item">
								<span class="label label-default label-pill pull-xs-right">v1.1.6</span> FM5strap
							</li>
							<li class="list-group-item">
								<span class="label label-default label-pill pull-xs-right">v1.2.0</span> Tether
							</li>
							<li class="list-group-item">
								<span class="label label-default label-pill pull-xs-right">v2.12.0</span> MomentJS with locales
							</li>
							<li class="list-group-item">
								<span class="label label-default label-pill pull-xs-right">v0.0.2</span> Mucho café :)
							</li>
						</ul>
						<br>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="md-feedback" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h2 class="modal-title">¡Cooperá con el proyecto!</h2>
					</div>
					<div class="modal-body">
						<h2>Siempre viene bien una mano o una sugerencia. El feedback es bien apreciado.</h2>
						<p>Acá podrás sugerirme una mejora en el proyecto o simplemente avisarme de alguna actualización con respecto de la flota de alguna línea en particular. </p>
						<div class="contact-form" ng-controller="feedbackform">
							<form ng-submit="sendfeedback();">
								<div ng-show="{{alert}}">
									<div class="alert alert-success">{{success}}</div>
								</div>
								<fieldset class="form-group">
									<label for="md-frm-name" class="required">Ante nada... ¿Cómo te llamás?</label></br>
									<input type="text" class="form-control" ng-model="md_frm_name" id="md-frm-name" name="md-frm-name" placeholder="Tu nombre" tabindex="1" required>
								</fieldset>
								<fieldset class="form-group">
									<label for="md-frm-email" class="required">¿Tenés correo para poder contestarte?</label>
									<input type="email" class="form-control" ng-model="md_frm_email" id="md-frm-email" name="md-frm-email" placeholder="Tu correo" tabindex="2" required>
								</fieldset>
								<fieldset class="form-group">
									<label for="md-frm-message" class="required">Perfecto! Escucho tu sugerencia!</label>
									<textarea class="form-control" ng-model="md_frm_message" id="md-frm-message" name="md-frm-message" placeholder="El mensaje" rows="3" tabindex="4" required></textarea>
								</fieldset>
								<fieldset class="form-inline">
									<label class="calcule">Matemática para humanos: {{rand1}} + {{rand2}} = </label>
									<input type="number" class="form-control" ng-model="md_frm_mathcaptcha" id="md-frm-mathcaptcha" name="md-frm-mathcaptcha" placeholder="El resultado" tabindex="5" required></input>
								</fieldset>
								<br/>
								<button type="submit" class="btn btn-primary btn-block" tabindex="6">¡Enviar feedback!</button>
							</form>
						</div>
						<br/>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="vendor/angular/js/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="vendor/angular-route/js/angular-route.min.js"></script>
		<script type="text/javascript" src="vendor/jquery/js/jquery.min.js"></script>
		<script type="text/javascript" src="vendor/moment/js/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/es.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.6/angular-moment.min.js"></script>
		<script type="text/javascript" src="vendor/tether/js/tether.min.js"></script>
		<script type="text/javascript" src="vendor/fm5strap/js/fm5strap.min.js"></script>
		<script type="text/javascript" src="js/scripts-angu.js"></script>
		<script type="text/javascript" src="js/scripts-jqjs.js"></script>
	</body>
</html>