<section class="jumbotron-container" style="background-image: url(img/jumbotron/generic.jpg)">
	<div class="breadcrumb-container">
		<div class="container-fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#/">Ferrocarriles Abiertos</a></li>
				<li class="breadcrumb-item active">Acerca de</li>
			</ol>
		</div>
	</div>
	<div class="jumbotron text-xs-center">
		<div class="container-fluid">
			<div style="margin: 0 auto; background-image: url(img/brand.svg); background-size: cover; background-position: center; max-width: 480px; height: 150px;"></div>
			<p class="h3">Versión v2.3.0</p>
		</div>
	</div>
	<div class="breadcrumb-container" id="jumbotron-caption">
		<div class="container-fluid">
			<div class="breadcrumb">
				<i class="fa fa-picture-o" aria-hidden="true"></i> Estación Ramos Mejía | Línea Sarmiento | Foto de Franco Daniel, tomada el 29 de mayo de 2016.</div>
			</div>
		</div>
	</div>
</section>
<section>
	<br>
	<div class="container-fluid">
		<p>Ante nada, gracias por visitar este sitio. Te voy a comentar el desarrollo, cómo comenzó este proyecto y a dónde se va a encaminar.</p>
		<h3>El comienzo como "Flota Ferroviaria"</h3>
		<p>Esto comenzó con un simple relevamiento de flota en casi todos los ferrocarriles del AMBA, obviamente no llegué a completar todos, pero más del 50% está realizado.</p>
		<p>Originalmente quería mostrar la conformación de cada formación de cada línea ferroviaria, junto con algunos detalles adicionales, ya que cada vez que terminaba de filmar siempre me olvidaba de anotar la letra identificatoria de la formación, por lo tanto empecé a hacer un relevamiento personal de la flota de cada línea, en un principio enviando cada relevamiento como mensaje de Telegram hacia mi propio número celular, y después volcando esos datos en una planilla de Google Sheets para exportar estos mismos datos en CSV.</p>
		<p>Entonces decidí armar el sitio a mi forma, intentando cortar así la etapa de los horribles diseños del viejo HTML del año del quijote, y comenzar una etapa moderna con un layout propio (FM5strap) y el HTML5 full responsive, que es justamente un formato moderno y adaptado a estos días, con funcionalidad constante en cualquier lado donde veas esta página.</p>
		<p>Ni siquiera tenía marca propia como sí lo tiene "Ferrocarriles Abiertos". Visualmente parecía un proyecto para mí que para el resto, cosa que no es así. </p>
		<p>Hoy por hoy es una herramienta adicional para los ferroaficionados como yo, quienes dedicamos parte de nuestro tiempo a generar un buen archivo digital sobre los ferrocarriles.</p>
		<hr>
		<h3>El cambio a "Ferrocarriles Abiertos"</h3>
		<p>Hace varios meses venía pensando en armar el proyecto "Ferrocarriles Abiertos", que consistía y consiste en crear una base de datos con datos escenciales de los ferrocarriles argentinos que tenemos hoy por hoy, y utilizar esos datos para diversos fines como contar los cambios entre una etapa y otra, sacar índices estadísticos, y enriquecer un poco más las historias que van sucediendo día a día. </p>
		<p>Esto recién comienza, es como la revolución ferroviaria que mencionaba Florencio Randazzo (sacando partidismos), es ambicioso, se puede realizar, pero de que lleva tiempo lleva tiempo. </p>
		<hr>
		<h3>Desarrollo</h3>
		<p>El desarrollo del proyecto se irá dando de acuerdo al tiempo que tenga libre, tanto como para relevar como para mantener el sitio en condiciones. Se irá agregando información sobre cada línea y formación con el pasar del tiempo.</p>
		<p>Por el momento los datos se están cargando en un cierto lapso de tiempo. </p>
		<hr>
		<h3>¿Puedo colaborar?</h3>
		<p>¡Por supuesto! Tenés cuatro formas de hacerlo:</p>
		<div class="row row-shortcut">
			<a nohref data-toggle="modal" data-target="#md-feedback">
				<div class="col-sm-6 col-md-3 shortcut">
					<span class="circle" style="background-color: rgb(0, 0, 50)">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</span>
					<h3>Formulario</h3>
					<p class="ng-binding">El método más sencillo para aportar. Podés enviar tus comentarios, sugerencias y aportes con sólo llenar un formulario.</p>
				</div>
			</a>
			<a href="http://github.com/Fermoto5HD/flota-ferroviaria" target="_blank">
				<div class="col-sm-6 col-md-3 shortcut">
					<span class="circle" style="background-color: rgb(0, 0, 50)">
						<i class="fa fa-github" aria-hidden="true"></i>
					</span>
					<h3>GitHub</h3>
					<p>La opción preferida de los programadores (me incluyo). En caso que tengas que reportar una falla hacelo con el tag correspondiente.</p>
				</div>
			</a>
			<a href="http://twitter.com/Fermoto5HD" target="_blank">
				<div class="col-sm-6 col-md-3 shortcut">
					<span class="circle" style="background-color: rgb(0, 0, 50)">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</span>
					<h3>Twitter</h3>
					<p>Si no sos programador te dejo una vía fácil para contactarte conmigo, sea por un tweet de 140 caracteres o, si no te alcanza, por mensaje privado.</p>
				</div>
			</a>
			<a href="http://plus.google.com/+Fermoto5HD" target="_blank">
				<div class="col-sm-6 col-md-3 shortcut">
					<span class="circle" style="background-color: rgb(0, 0, 50)">
						<i class="fa fa-google-plus-official" aria-hidden="true"></i>
					</span>
					<h3>Google+</h3>
					<p>Y si no tenés Twitter pero usás YouTube para comentar o subir videos te invito a que publiques en mi cuenta de Google+.</p>
				</div>
			</a>
		</div>
		<hr>
		<h3>Para armar esto se necesitó</h3>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="label label-default label-pill pull-xs-right">v1.5.x</span> Angular
			</li>
			<li class="list-group-item">
				<span class="label label-default label-pill pull-xs-right">v1.5.x</span> Angular Route
			</li>
			<li class="list-group-item">
				<span class="label label-default label-pill pull-xs-right">v1.1.6</span> FM5strap
			</li>
			<li class="list-group-item">
				<span class="label label-default label-pill pull-xs-right">v1.2.0</span> Tether
			</li>
			<li class="list-group-item">
				<span class="label label-default label-pill pull-xs-right">v2.12.0</span> MomentJS with locales
			</li>
			<li class="list-group-item">
				<span class="label label-default label-pill pull-xs-right">v0.0.2</span> Mucho café :)
			</li>
		</ul>
	</div>
</section>
