<section class="jumbotron-container" style="background-image: url(img/jumbotron/glossary.jpg)">
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="#/">Ferrocarriles Abiertos</a></li>
				<li class="active">Glosario</li>
			</ol>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h1>Glosario</h1>
			<p>Un mini repaso por las diversas terminologías que se vienen utilizando, tanto en la jerga de ferroviarios propiamente dicho como en los ferroaficionados. </p>
			<p>En algunos términos quizás encuentres explicaciones de porqué sugiero tal terminología, esas explicaciones obviamente son subjetivas. </p>
		</div>
	</div>
	<div class="breadcrumb-container" id="jumbotron-caption">
		<div class="container">
			<div class="breadcrumb">
				<i class="fa fa-picture-o" aria-hidden="true"></i> Descarga de vagones chinos | Noticia del 15/10/2015 | Foto de Belgrano Cargas y Logística (hoy Trenes Argentinos Cargas).</div>
			</div>
		</div>
	</div>
</section>
<section>
	<br>
	<div class="container">
		<h2>Material rodante</h2>
		<p class="lead">Todo lo que pueda circular en los rieles</p>
		<p>Es todo vehículo que puede transitar por los rieles. Son medios guiados de un sólo grado de desplazamiento (horizontal). </p>
		<hr>
		<h2>Material tractivo</h2>
		<p class="lead">Mayormente asociado con las "Locomotoras".</p>
		<hr>
		<h2>Material remolcado</h2>
		<p class="lead">También llamados "Coches y vagones".</p>
		<p>Son materiales rodantes que pueden acoplarse con otro material remolcado para formar una formación y/o con un material tractivo para ser traccionado. </p>
		<p>Poseen una identificación a los costados de la misma, como por ejemplo "SM009". </p>
		<div class="alert alert-danger">
			<strong>¡Cuidado con los usos incorrectos!</strong>
			<p>Coche se refiere al material remolcado para los servicios de pasajeros. </p>
			<p>Vagón se refiere a los utilizados en servicios de cargas. </p>
			<p>No hay que mezclar los términos como siempre hacen los medios de comunicación, que al "intentar" usar palabras amigables la terminan pifiando como los mejores. </p>
		</div>
		<hr>
		<h2>Formación</h2>
		<p class="lead">También conocido como "Chapa" o "Cabina". </p>
		<p>Se refiere al número, la letra o combinación de estas que identifican a una determinada composición de coches de pasajeros. </p>
		<p>Una formación con Id "3" puede contener los coches "A001", "B002" y "C003". </p>
		<p>En la sección "Flota Ferroviaria" vas a encontrar la ID de la formación, y la ubicación de los coches. Para saber cual es el primero y cual es el último hay que leer el texto introductorio de la línea, donde indica hacia que lado miran los coches de las puntas de la formación. </p>
		<div class="alert alert-info">
			<strong>Según mi parecer...</strong>
			<p>A mi parecer la forma correcta de denominar a un conjunto de coches es con la palabra "Formación", ya que, si vamos al sentido literal de las palabras, "chapa" debería ser... una chapa propiamente dicha, y no, utilizan un papel impreso o apenas un sticker para colocar el Id. "Cabina" es apenas nombrar un sólo coche, y esa "cabina" tiene una identificación como los demás coches, aparte que los demás coches no son cabinas, son coches interconectados o que ni siquiera tienen comandos exceptuando los auxiliares y/o primas (un invento argentino, claro). Por lo tanto, "formación" es lo más acorde, ya que se forma un grupo de coches agrupados de determinada manera, con una configuración que puede variar según la demanda o disponibilidad para la prestación del servicio.</p>
		</div>
		<hr>
		<h2>Paso a Nivel</h2>
		<p class="lead">Abreviados también como "PAN"</p>
		<p>Son intersecciones entre la zona de vías y la calle, compuesto por un laberinto peatonal y una barrera con señalización visual y auditiva.</p>
		<hr>
		<h2>Paso Bajo Nivel</h2>
		<p class="lead">Abreviados también como "PBN"</p>
		<p>Es una obra de arte realizado para evitar posibles accidentes por imprudencia. Se compone de un viaducto donde por el túnel circula el tránsito vehicular, y por el puente curcula el tránsito ferroviario. </p>
		<hr>
		<h2>Soterramiento</h2>
		<p>Se lo denomina a la transformación de una traza superficial hacia una traza subterránea con el objetivo de incrementar frecuencias y eliminar las barreras. </p>
	</div>
</section>
