<section class="jumbotron-container" style="background-image: url(img/jumbotron/home/01.jpg)">
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="/">Fermoto5HD</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li class="active">Flota Ferroviaria</li>
			</ol>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h1>Flota Ferroviaria</h1>
			<p>¡Bienvenido! Acá podrás conocer las composiciones de la flota actual de cada línea ferroviaria en Buenos Aires. </p>
			<p>Estos datos fueron relevados por mí, tanto en persona como por los datos de varios videos en YouTube (los cuales ya les doy las gracias), y están disponibles para el uso libre para cualquier actividad, sea investigación, como de estadística o para lo que fuere. </p>
			<div class="alert alert-warning">
				<strong>Versión en desarrollo: </strong>
				<p>Esta versión ya está casi operativa aunque tiene algunos errores que tienen que ser corregidos. </p>
			</div>
		</div>
	</div>
	<div class="breadcrumb-container" id="jumbotron-caption">
		<div class="container">
			<div class="breadcrumb">
				<i class="fa fa-picture-o" aria-hidden="true"></i> Estación Ramos Mejía | Línea Sarmiento | Foto de Franco Daniel, tomada el 29 de mayo de 2016.</div>
			</div>
		</div>
	</div>
</section>
<section>
	<br>
	<div class="container" ng-controller="listRailways">
		<h1>Subterráneos de Buenos Aires + Premetro</h1>
		<p>Explotada por Metrovías S.A. y en parte por Subterráneos de Buenos Aires Sociedad del Estado, cuenta con 6 líneas de subte (A, B, C, D, E y H), y con un Premetro (línea E2).</p>
		<div class="row text-xs-center">
			<div class="col-sm-6 col-lg-4 col-xl-3" ng-repeat="line in JSONlines | filter:{type:'subway'}">
				<div class="card">
					<div class="card-header">
						<h2>{{line.hometitle}}</h2>
					</div>
					<div class="card-block">
						<p>{{line.homedescription}} </p>
					</div>
					<div class="card-footer">
						<a href="#/linea/{{line.line}}" class="btn btn-primary">Ver flota actual</a>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<h1>Ferrocarriles metropolitanos</h1>
		<p>Explotados en su mayoría por Trenes Argentinos (Operadora Ferroviaria Sociedad del Estado) exceptuando las líneas Urquiza y Belgrano Norte que son explotadas por Metrovías S.A. y Ferrovías S.A. respectivamente.</p>
		<div class="row text-xs-center">
			<div class="col-sm-6 col-lg-4 col-xl-3" ng-repeat="line in JSONlines | filter:{type:'railway'}">
				<div class="card">
					<div class="card-header">
						<h2>{{line.hometitle}}</h2>
					</div>
					<div class="card-block">
						<p>{{line.homedescription}} </p>
					</div>
					<div class="card-footer">
						<a href="#/linea/{{line.line}}" class="btn btn-primary">Ver flota actual</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
