<section class="jumbotron-container" style="background-image: url(img/jumbotron/apis.jpg)">
	<div class="breadcrumb-container">
		<div class="container-fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#/">Ferrocarriles Abiertos</a></li>
				<li class="breadcrumb-item active">APIs</li>
			</ol>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container-fluid">
			<h1>APIs</h1>
			<p>En esta sección podrás aprender a utilizar las APIs de obtención de datos en tiempo real, para crear apps alternativas o soluciones innovadoras para el día a día. Si sos programador podrás utilizarlas sin problemas, nosotros te damos una mano. </p>
			<div class="alert alert-warning">
				<strong>Situación actual</strong>
				<p>Las APIs hoy por hoy están muy limitadas, apenas hay una funcionando que es proporcionada por SOFSE y sólo se puede usar una minima parte de la información generada. </p>
			</div>
		</div>
	</div>
	<div class="breadcrumb-container" id="jumbotron-caption">
		<div class="container-fluid">
			<div class="breadcrumb">
				<i class="fa fa-picture-o" aria-hidden="true"></i> Estación Jujuy - Andén a Bolívar | Línea E | Foto de SBASE/GCBA.</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid">
		<br>
		<div class="row">
			<div class="col-md-12">
				<h1>Subterráneos de Buenos Aires + Premetro</h1>
				<p>Actualmente no ha sido liberado ningún sistema de información en tiempo real. </p>
			</div>
			<div class="col-md-12">
				<h1>Ferrocarriles metropolitanos</h1>
				<p>Todas las líneas, exceptuando algunos ramales, tienen un sistema de información en tiempo real. El mismo se utiliza para mostrar los tiempos de llegada en las estaciones, y dicho servicio se llama "Trenes en vivo", lanzado originalmente en 2013 con la gestión del Ex-Ministerio del Interior y Transporte, y mantenido en la gestión actual del Ministerio de Transporte. </p>
				<div class="row text-xs-center">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h2>Documentación</h2>
							</div>
							<div class="card-block">
								<p>Revisá la documentación para comprender parte del funcionamiento de este sistema. </p>
							</div>
							<div class="card-footer">
								<a href="#/APIs/trenesenvivo/docs" class="btn btn-primary">Ver documentación</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h2>Variables disponibles</h2>
							</div>
							<div class="card-block">
								<p>Con estos datos podrás interactuar con la API y obtener la información que necesites. </p>
							</div>
							<div class="card-footer">
								<a href="#/APIs/trenesenvivo/vars" class="btn btn-primary">Revisar variables</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
