<div class="jumbotron-container" style="background-image: url(img/jumbotron/trenesenvivo.jpg)">
	<div class="breadcrumb-container">
		<div class="container-fluid">
			<ol class="breadcrumb">
				<li><a href="#/">Ferrocarriles Abiertos</a></li>
				<li><a href="#/APIs">APIs</a></li>
				<li class="active">{{name}} - Variables</li>
			</ol>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container-fluid">
			<h1>Variables</h1>
			<p>Conocé las variables que maneja la API para manejar los datos y crear tus apps. </p>
		</div>
	</div>
	<div class="breadcrumb-container" id="jumbotron-caption" data-toggle="modal" data-target="#md-viewpic" style="cursor: pointer; margin-bottom: 0">
		<div class="container-fluid">
			<div class="breadcrumb">
				<i class="fa fa-picture-o" aria-hidden="true"></i> Sistema de "Trenes en Vivo" | Estación Belgrano C. | Foto de enelsubte.com 
			</div>
		</div>
	</div>
	<!-- -->
	<div class="modal fade" id="md-viewpic" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h2 class="modal-title">Imagen</h2>
				</div>
				<div class="modal-body">
					<img class="img-thumbnail" src="img/jumbotron/trenesenvivo.jpg">
					<figcaption><i class="fa fa-picture-o" aria-hidden="true"></i> Sistema de "Trenes en Vivo" | Estación Belgrano C. | Foto de enelsubte.com  </figcaption>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>
	<section>
		<div class="container-fluid">
			<h2>Keys</h2>
			<h3 class="h4">Vigentes: </h3>
			<p class="lead">31/08/16: <code>NRVQjcjTUF0I30EVFBDTqdWp%23</code></p>
			<p class="lead">29/08/16: <code>v%23v%23QTUNWp%23MpWR0wkj%23RhHTqVUM</code></p>
		</div>
	</section>
	<section>
		<div class="container-fluid">
			<h2>Líneas y ramales</h2>
			<p>Están identificadas por un número, el cual representa un recorrido determinado y un sentido de circulación específico. </p>
			<p>En selectos casos pueden compartir estaciones de otro ramal (como ejemplo está la línea Mitre y los ramales Mitre y J.L. Suárez). </p>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>N°</th>
						<th>Línea</th>
						<th>Ramal</th>
						<th>Sentido</th>
						<th>Datos disponibles</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Línea Sarmiento</td>
						<td>Plaza Once-Moreno</td>
						<td>Hacia Moreno</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Línea Sarmiento</td>
						<td>Plaza Once-Moreno</td>
						<td>Hacia Plaza Once</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">5</th>
						<td>Línea Mitre</td>
						<td>Retiro-Tigre</td>
						<td>Hacia Tigre</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">6</th>
						<td>Línea Mitre</td>
						<td>Retiro-Tigre</td>
						<td>Hacia Retiro</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">7</th>
						<td>Línea Mitre</td>
						<td>Retiro-Bartolomé Mitre</td>
						<td>Hacia Bartolomé Mitre</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">8</th>
						<td>Línea Mitre</td>
						<td>Retiro-Bartolomé Mitre</td>
						<td>Hacia Retiro</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">9</th>
						<td>Línea Mitre</td>
						<td>Retiro-José León Suárez</td>
						<td>Hacia José León Suárez</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">10</th>
						<td>Línea Mitre</td>
						<td>Retiro-José León Suárez</td>
						<td>Hacia Retiro</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">11</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-La Plata</td>
						<td>Hacia La Plata</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">12</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-La Plata</td>
						<td>Hacia Plaza Constitución</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">13</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-Bosques</td>
						<td>Hacia Bosques</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">15</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-Bosques</td>
						<td>Hacia Plaza Constitución</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">15</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-Gutiérrez</td>
						<td>Hacia Gutiérrez</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">16</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-Gutiérrez</td>
						<td>Hacia Plaza Constitución</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">17</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-Alejandro Korn</td>
						<td>Hacia Alejandro Korn</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">18</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-Alejandro Korn</td>
						<td>Hacia Plaza Constitución</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">19</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-Ezeiza/Cañuelas</td>
						<td>Hacia Ezeiza/Cañuelas</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">20</th>
						<td>Línea Roca</td>
						<td>Plaza Constitución-Ezeiza/Cañuelas</td>
						<td>Hacia Plaza Constitución</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">21</th>
						<td>Línea Belgrano Sur</td>
						<td>Buenos Aires-Marinos del Crucero General Belgrano</td>
						<td>Hacia Marinos del Crucero General Belgrano</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">22</th>
						<td>Línea Belgrano Sur</td>
						<td>Buenos Aires-Marinos del Crucero General Belgrano</td>
						<td>Hacia Buenos Aires</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">23</th>
						<td>Línea Belgrano Sur</td>
						<td>Aldo Bonzi-Puente Alsina</td>
						<td>Hacia Aldo Bonzi</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">24</th>
						<td>Línea Belgrano Sur</td>
						<td>Aldo Bonzi-Puente Alsina</td>
						<td>Hacia Puente Alsina</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">25</th>
						<td>Línea Belgrano Sur</td>
						<td>Buenos Aires-Gonzalez Catán</td>
						<td>Hacia Gonzalez Catán</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">26</th>
						<td>Línea Belgrano Sur</td>
						<td>Buenos Aires-Gonzalez Catán</td>
						<td>Hacia Buenos Aires</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">28</th>
						<td>Línea Roca</td>
						<td>Haedo-Temperley</td>
						<td>Hacia Haedo</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">29</th>
						<td>Línea Roca</td>
						<td>Haedo-Temperley</td>
						<td>Hacia Temperley</td>
						<th>Limitado</th>
					</tr>
					<tr>
						<th scope="row">31</th>
						<td>Línea San Martín</td>
						<td>Retiro-Dr. Domingo Cabred</td>
						<td>Hacia Dr. Domingo Cabred</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">32</th>
						<td>Línea San Martín</td>
						<td>Retiro-Dr. Domingo Cabred</td>
						<td>Hacia Retiro</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">41</th>
						<td>Tren de la Costa</td>
						<td>Maipú-Delta</td>
						<td>Hacia Delta</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">42</th>
						<td>Tren de la Costa</td>
						<td>Maipú-Delta</td>
						<td>Hacia Maipú</td>
						<th>Todos</th>
					</tr>
					<tr>
						<th scope="row">61</th>
						<td>Línea Belgrano Norte</td>
						<td>Retiro-Villa Rosa</td>
						<td>Hacia Retiro</td>
						<th>Estación y Terminal</th>
					</tr>
					<tr>
						<th scope="row">62</th>
						<td>Línea Belgrano Norte</td>
						<td>Retiro-Villa Rosa</td>
						<td>Hacia Villa Rosa</td>
						<th>Estación y Terminal</th>
					</tr>
					<tr>
						<th scope="row">71</th>
						<td>Línea Urquiza</td>
						<td>Federico Lacroze-General Lemos</td>
						<td>Hacia General Lemos</td>
						<th>Estación y Terminal</th>
					</tr>
					<tr>
						<th scope="row">72</th>
						<td>Línea Urquiza</td>
						<td>Federico Lacroze-General Lemos</td>
						<td>Hacia Federico Lacroze</td>
						<th>Estación y Terminal</th>
					</tr>
					<tr>
						<th scope="row">101</th>
						<td><label class="label bg-warning">Desconocido</label></td>
						<td><label class="label bg-warning">Desconocido</label></td>
						<td>Sentido único</td>
						<th>Estación</th>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section style="padding-top: 40px;">
		<div class="container-fluid">
			<h2>Estaciones</h2>
			<div class="form-horizontal">
				<div class="col-md-2"><strong>URL:</strong></div>
				<div class="col-md-10"><code>http://trenes.sofse.gob.ar/v2_pg/lcd_public/ajax_arribos_andenes.php%23</code></div>
			</div>
			<div class="form-horizontal">
				<div class="col-md-2"><strong>Key:</strong></div>
				<div class="col-md-10">Las keys están arriba. El sistema va alternando con esas dos. </div>
			</div>
			<div class="form-horizontal">
				<div class="col-md-2"><strong>Ramal:</strong></div>
				<div class="col-md-10">Ramal numérico</div>
			</div>
			<div class="form-horizontal">
				<div class="col-md-2"><strong>Estacion:</strong></div>
				<div class="col-md-10">Estación numérica</div>
			</div>
			<div class="form-horizontal">
				<div class="col-md-2"><strong>Cartel:</strong></div>
				<div class="col-md-10">Id de la pantalla (opcional)</div>
			</div>
			<h3>Entrega de datos</h3>
			<p>Esta API entrega los datos en formato JSON, comenzando con dos vectores: "items" y "video".</p>
			<pre>{
	"items": {}, 
	"video": {}
}</pre>
			<h4>Dentro de items</h4>
			<pre>"items": {
	"reload": Tiempo en recargar el sitio - String,
	"demora_formacion_1": Tiempo de demora del próximo tren - String,
	"demora_formacion_2": Tiempo de demora del siguiente tren - String,
	"demora_formacion_3": Tiempo de demora del subsiguiente tren - String,
	"estacion_hasta_1": Estación de destino del próximo tren - String,
	"formacion_tipo_servicio_1": Tipo de servicio del próximo, puede ser "N", "S", "R" o "E" - String,
	"estaciones_1": Estaciones donde se detiene el próximo tren, en caso de ser un servicio semirrápido, rápido o especial - String,
	"formacion_tipo_servicio_2": Tipo de servicio del siguiente, puede ser "N", "S", "R" o "E" - String,
	"estaciones_2": Estaciones donde se detiene el siguiente tren, en caso de ser un servicio semirrápido, rápido o especial - String,
	"formacion_tipo_servicio_3": Tipo de servicio del subsiguiente, puede ser "N", "S", "R" o "E" - String,
	"estaciones_3": Estaciones donde se detiene el subsiguiente tren, en caso de ser un servicio semirrápido, rápido o especial - String,
	"alerta": {
		"estado_i": La alerta se mostrará o no sólo en el lado de ida - Valores 0 y 1 - Int,
		"estado_v": La alerta se mostrará o no sólo en el lado de vuelta - Valores 0 y 1 - Int,
		"mensaje": Mensaje de la alerta - String,
		"sentido": Sentido donde se mostrará la alerta - String
	}
}</pre>
			<h4>Dentro de video</h4>
			<pre>"video": {
	"mostrar": Mostrará el video según el valor, 0 o 1 - Int,
	"nombre": Nombre del archivo que cargará como video, generalmente local - String,
	"duracion": Duración en milisegundos del video - String,
	"intervalo": Intervalo de aparición del video en milisegundos - String
}</pre>
			<h2>Plataforma</h2>
			<p>Esta API entrega los datos en un formato extraño, separado por guiones bajos <code>_</code>.</p>
			<h3>Estructura de ejemplo</h3>
			<pre>ok_11:50_2_3_11:46_RETIRO - PALERMO - CHACARITA - LA PATERNAL - VILLA DEL PARQUE - DEVOTO - SAENZ PEÑA - SANTOS LUGARES - CASEROS - EL PALOMAR - HURLINGHAM - W.C. MORRIS - BELLA VISTA - MUÑIZ - SAN MIGUEL - JOSE C. PAZ - SOL Y VERDE - PTE. DERQUI - VILLA ASTOLFI - PILAR _0_0_0__</pre>
			<h3>Valores</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Item</th>
						<th>Qué es</th>
						<th>Qué valor entrega</th>
						<th>Qué muestra</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Estado</td>
						<td><code>ok</code> o <code>null</code></td>
						<td>Muestra si hay un tren en la plataforma o no. </td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Hora actual</td>
						<td>Hora actual o <code>0</code></td>
						<td>Muestra la hora actual de la API. </td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Plataforma</td>
						<td>Número</td>
						<td>El número de la plataforma. </td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td>Hora de partida</td>
						<td>Hora de partida o <code>0</code></td>
						<td>Muestra la hora de partida del tren. </td>
					</tr>
					<tr>
						<th scope="row">5</th>
						<td>Estaciones</td>
						<td>Cadena de caracteres</td>
						<td>Muestra las estaciones donde para la formación. </td>
					</tr>
				</tbody>
			</table>
</div>